<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>demo1</title>
	<style>
		.liked{
			background: deeppink;
		}
	</style>
</head>
<body>
	<div id="app">
		<likes></likes>
		
		<!-- <alert></alert> -->
		<!-- <table>
			<thead>
				<th>科目</th>
				<th>分数</th>
			</thead>
			<tbody>
				<tr><td>数学</td><td><input type="text" v-model.number="math"></td></tr>
				<tr><td>物理</td><td><input type="text" v-model.number="physics"></td></tr>
				<tr><td>英语</td><td><input type="text" v-model.number="english"></td></tr>
				<tr><td>总分</td><td><input type="text" v-model.number="sum"></td></tr>
				<tr><td>平均分</td><td><input type="text" v-model.number="avg"></td></tr>
			</tbody>
		</table> -->
		<!-- <label for="">男
			<input type="checkbox" v-model="sexhobby" value="male">
		</label>
		<label for="">女
			<input type="checkbox" v-model="sexhobby" value="female">
		</label>
		{{sexhobby}}
		<div>你来自哪里</div>
		<select v-model="place" id="">
			<option value="1">四川</option>
			<option value="2">温哥华</option>
			<option value="3">加州</option>
		</select>
		{{place}} -->
		<!-- <div v-if="role=='admin'||role=='super_admin'">你好管理员</div>
		<div v-else-if="role=='hr'">待查看简历列表</div>
		<div v-else>你没有权限</div> -->
		<!-- <input type="text" v-model.number="name">
		<pre>{{name}}</pre> -->
		<!-- <button v-on="{mouseenter:onEnter,mouseleave:onLeave}" v-on:click="onClick">click me</button>
		<form @submit.prevent="onSubmit" @keypress="onKeypress" @keyup.enter="pressEnter" action="">
			<input  type="text">
			<button   type="submit"></button>
		</form> -->
	</div>
	<script src="lib/vue.js"></script>
	<script src="js/main.js"></script>
</body>
</html>